* {
    margin: 0%;
    padding: 0%;
    border: 0cm;
}

div {
    width: 100%;
    height: 50%;
}

nav {
    margin-top: 1em;
    float: right;
    margin-right: 2em;
}

#apps {
    margin-right: 1em;
    display: inline-block;
    cursor: pointer;
    outline: none;
    background: none;
    color: black;
}

#iniciar {
    background: #4387fd;
    font-weight: bold;
    outline: none;
    color: #fff;
    border: 1px solid #4285f4;
    display: inline-block;
    line-height: 28px;
    width: 110px;
    border-radius: 2px;
}

nav>a {
    color: rgba(0, 0, 0, 0.87);
    margin-right: 1em;
    text-decoration: none;
    color: black;
    vertical-align: middle;
    font-family: arial, sans-serif;
    font-size: 13px;
}

#logo {
    padding: 109px 0px 0px;
    height: 150px;
    text-align: -webkit-center;
}

#logo>img {
    margin-top: 50px;
    height: 92px;
    width: 272px;
    display: block;
}

#search-bar {
    width: 100%;
    height: 50px;
}

#buttons {
    text-align: -webkit-center;
}

#button {
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}